.upcoming-members{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    background: rgb(22, 22, 22);
    border-bottom: 0.7em solid rgb(218, 214, 214);
}
.upcoming-main{
    width:80%;
    height: 100%;
    text-align: center;
    color: white;
}
.upcoming-card{
    width: 16em;
    height: 19em;
    background-color: white;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 25px rgb(30, 158, 209); 
    border: 1px solid white;
    cursor: pointer;
}
.upcoming-card::after{
    content: '';
    width: 0%;
    margin-top: 1.8em;
    display: block;
    height: 5px;
    background: rgb(30, 158, 209);
    border-radius: 0.3em;
    transition: 0.5s;
}
.upcoming-card:hover::after{
    width:100%;
}
.upcoming-card img{
    width: 100%;
    height: 38vh;
    object-fit: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.upcoming-cards-main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}
.upcoming-texts p{
    margin: 0;
    color: rgb(30, 158, 209);
    font-weight: bold;
    font-size: 18px;
}
@media (max-width:721px){
    .upcoming-members{
        height: 140vh;
    }
    .upcoming-cards-main{
        gap: 2em;
    }
}
